<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browser non supportato</title>
</head>
<body class="loginBody">

<style>
    h2{
        margin-top: 50px;
        text-align: center;
        font-size: 15px;
    }
    .loginBody {
        background-color: #2d60b2;
    }
    body {
        font-family: tahoma;
        font-size: 8pt;
    }

</style>
<h2>   Attenzione! Si sta tentando di aprire Siebel con una versione del browser non supportata. Si prega di utilizzare la versione corretta di Internet Explorer
</h2>

</body>
</html>